body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #111;
}

.game-container {
    position: relative;
}

.pong {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: #000;
    border: 2px solid #fff;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
}

.paddle {
    position: absolute;
    width: 10px;
    height: 80px;
    background-color: #fff;
}

#leftPaddle {
    left: 0;
}

#rightPaddle {
    right: 0;
}
